body {
	font-family: 'Arial', sans-serif;
	font-size: 15px;
	color:#535555;
}
section{
	padding:100px 0;}
	section h2{
		font-family:Tahoma,sans-serif;
		font-weight:bold;
		font-size:50px;
		color:#006633;
		margin-bottom:40px;}
p{
	font-size:15px;
	line-height:24px;}
.btn-success {
    color: #fff;
    background-color: #006633;
    border-color: #006633;
}
.btn{
	border-radius:0;
	font-size:20px;}
/*header*/
header {
	min-height: 100vh;
	background-image: url(../images/header_fon.png);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: bottom center;
	color: #fff;
}
.btn-outline-primary {
    color: #fff;
	background-color: #bb830a;
	border-color: #bb830a; 
	font-size:18px;
	margin-top:40px;
	
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #cccccc;
    border-color: #fff;
}
.bg-light{
	background-color:#006633 !important;}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-brand {
    color: #fff;
	font-size:40px;
}
nav .fa-bars{
	color:#fff;
	font-size: 40px;}
header .btn{
	border-radius:0;
	padding:15px 30px;
	font-family:tachoma, sans-serif;
	font-weight:bold;
	font-size:33px;}
.slogan{
	background-color: rgba(137,137,137,0.8);
	text-align:left;
	padding:30px;
	width:80%;
	
}
.hero .container{
	min-height:90vh;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	}
.slogan h1{
	
	color: #ffffff;
	
	font-family: Tahoma,sans-serif;
	font-size: 50px;
	font-weight:bold;
}
#about{
	background-color:#cef6bb;}
#about img{
	width:100%;
	}
#about p{
	background-color:#fff;
	height:100%;
	margin:0;
	padding:20px;}
	#about .container .row:last-child{
		margin-top:30px;}
/*tovar*/
#tovar img{
	width:100%;}
.tovar_item{
	position:relative;
	margin:30px 0;}
.tovar_info{
	position:absolute;
	top: 0;left: 0;
	background-color:rgba(137,137,137,0.8);
	width: 100%;
	height: 100%;
	color:#fff;
	padding:10px;
	opacity:0;
	transition:all 0.5s;
	}
.tovar_item:hover .tovar_info{
	opacity:1;}
.tovar_info ul{
	list-style:none;
	margin: 0;padding: 0;}
.tovar_info ul li span{
	font-weight:bold;
	font-size:1.1em;
	}
	/*----*/
#contacts{
	background-color:#cef6bb;}
#contacts address p{
	font-size:19px;
	line-height:27px;}
#contacts address p i{
	color:#00663;
	font-size:1.5em;
	display:block;
	margin-bottom:10px;}
#feedback img{
	width:100%;
	margin-bottom:30px;
	padding:15px;}
#feedback blockquote p{
	font-size:18px;
	line-height:27px;
	color:#9c9c9c;}
#feedback .blockquote-footer{
	color:#006633;
	font-weight:bold;
	}
#feedback h3{
	color:#006633;
	margin-bottom:30px;
	font-weight:bold;}
	
#feedback .col-md-6{margin-bottom:30px;
	}
	
#footer{
	background:#006633;
	padding:50px 0;}
#footer a{
	color:#fff;}
	#footer .row{
		}
#footer a i{
	font-size:20px;
	padding:10px;}
#footer a:hover{
	color:#cef6bb;
	}
#footer .navbar-brand{
	padding-left:10px;}
#feedback .btn{
	border-radius:0;
	padding:15px 30px;
	font-family:tachoma, sans-serif;
	font-weight:bold;
	font-size:33px;}
	/*---кнопка---*/
.iframe{width:100%;
	.works_info{
		background-color: rgba(14, 180, 147, 0.9 );
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: all 0.5s;
		transform: translateY(-100%);
	}
	.works_items:hover .works_info{
		opacity: 1;
		transform: translateY(0%);
	}

}
/*--анимация--*/

/*--анимация--*/
@keyframes pulse{
	0%{transform:scale(1,1) ;}
	100%{transform:scale(1.2,1.2);
			}
			}
.up{
	background-color:#bb830a;
	position:fixed;
	bottom:50px;
	right:50px;
	border-radius:50%;
	opacity:0.5;
	transition:all 1s;
	animation:pulse 3s infinite alternate;}
		
.up:hover{
			opacity:1;
			animation-play-state:paused;}
.up a{
			padding:16px 20px;
			display:block;
			color:#fff;
			font-size:20px;}
@media screen and (max-width:567px){
		.slogan{
			width:100%}
		header{
			min-height:auto;
		}
		.hero .container{
			min-height:auto;
			padding:80px 0;}
	}
/*font-family: 'Open Sans', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;*/